<?xml version='1.0' encoding='utf-8'?>
<sprites>
  <sprite name="rb_trait_naturally_strong" />
  <sprite name="rb_trait_slight_build" />
  <sprite name="rb_trait_coordinated" />
  <sprite name="rb_trait_clumsy" />
  <sprite name="rb_trait_high_endurance" />
  <sprite name="rb_trait_poor_endurance" />
  <sprite name="rb_trait_robust" />
  <sprite name="rb_trait_frail" />
  <sprite name="rb_trait_quick_healer" />
  <sprite name="rb_trait_slow_healer" />
  <sprite name="rb_trait_pain_tolerant" />
  <sprite name="rb_trait_pain_sensitive" />
  <sprite name="rb_trait_iron_gut" />
  <sprite name="rb_trait_sensitive_stomach" />
  <sprite name="rb_trait_disease_resistant" />
  <sprite name="rb_trait_sickly" />
  <sprite name="rb_trait_heat_tolerant" />
  <sprite name="rb_trait_heat_sensitive" />
  <sprite name="rb_trait_cold_tolerant" />
  <sprite name="rb_trait_cold_sensitive" />
  <sprite name="rb_trait_hydration_efficient" />
  <sprite name="rb_trait_thirsty" />
  <sprite name="rb_trait_sure_footed" />
  <sprite name="rb_trait_bad_knees" />
  <sprite name="rb_trait_fast_learner" />
  <sprite name="rb_trait_distractible" />
  <sprite name="rb_trait_optimistic" />
  <sprite name="rb_trait_pessimistic" />
  <sprite name="rb_trait_steady_nerves" />
  <sprite name="rb_trait_anxious" />
  <sprite name="rb_trait_people_person" />
  <sprite name="rb_trait_loner" />
  <sprite name="rb_trait_fast_metabolism" />
  <sprite name="rb_trait_slow_metabolism" />
  <sprite name="rb_trait_food_indifferent" />
  <sprite name="rb_trait_sweet_tooth" />
  <sprite name="rb_trait_heavy_drinker" />
  <sprite name="rb_trait_caffeine_dependent" />
  <sprite name="rb_trait_teetotaler" />
  <sprite name="rb_trait_smoker" />
  <sprite name="rb_trait_conditioned" />
  <sprite name="rb_trait_training_discipline" />
  <sprite name="rb_trait_old_training_injury" />
  <sprite name="rb_trait_field_triage" />
  <sprite name="rb_trait_clinical_routine" />
  <sprite name="rb_trait_compassionate_care" />
  <sprite name="rb_trait_compassion_fatigue" />
  <sprite name="rb_trait_clinical_specialist" />
  <sprite name="rb_trait_diagnostic_mind" />
  <sprite name="rb_trait_sedentary_practice" />
  <sprite name="rb_trait_pharmacology" />
  <sprite name="rb_trait_careful_dosing" />
  <sprite name="rb_trait_deskbound" />
  <sprite name="rb_trait_chemical_training" />
  <sprite name="rb_trait_methodical" />
  <sprite name="rb_trait_labbound" />
  <sprite name="rb_trait_vehicle_specialist" />
  <sprite name="rb_trait_parts_saver" />
  <sprite name="rb_trait_shop_back" />
  <sprite name="rb_trait_circuit_trained" />
  <sprite name="rb_trait_safe_wiring" />
  <sprite name="rb_trait_poor_heavy_labor" />
  <sprite name="rb_trait_joiner" />
  <sprite name="rb_trait_tool_familiarity" />
  <sprite name="rb_trait_wrist_wear" />
  <sprite name="rb_trait_site_toughened" />
  <sprite name="rb_trait_efficient_builder" />
  <sprite name="rb_trait_trade_knees" />
  <sprite name="rb_trait_metal_fabricator" />
  <sprite name="rb_trait_heat_acclimated" />
  <sprite name="rb_trait_fume_exposure" />
  <sprite name="rb_trait_precision_fitter" />
  <sprite name="rb_trait_parts_conservation" />
  <sprite name="rb_trait_shopbound" />
  <sprite name="rb_trait_fixer" />
  <sprite name="rb_trait_tool_care" />
  <sprite name="rb_trait_shoulder_wear" />
  <sprite name="rb_trait_systems_thinker" />
  <sprite name="rb_trait_technical_planner" />
  <sprite name="rb_trait_theory_heavy" />
  <sprite name="rb_trait_ore_sense" />
  <sprite name="rb_trait_mining_conditioning" />
  <sprite name="rb_trait_dusty_lungs" />
  <sprite name="rb_trait_axe_hand" />
  <sprite name="rb_trait_work_hardened" />
  <sprite name="rb_trait_heavy_lifter" />
  <sprite name="rb_trait_shift_pacing" />
  <sprite name="rb_trait_repetitive_strain" />
  <sprite name="rb_trait_heat_trained" />
  <sprite name="rb_trait_emergency_conditioning" />
  <sprite name="rb_trait_smoke_damaged_lungs" />
  <sprite name="rb_trait_combat_drilled" />
  <sprite name="rb_trait_field_discipline" />
  <sprite name="rb_trait_old_service_injury" />
  <sprite name="rb_trait_sidearm_training" />
  <sprite name="rb_trait_crisis_response" />
  <sprite name="rb_trait_desk_duty" />
  <sprite name="rb_trait_patrol_conditioning" />
  <sprite name="rb_trait_defensive_familiarity" />
  <sprite name="rb_trait_limited_field_training" />
  <sprite name="rb_trait_field_dresser" />
  <sprite name="rb_trait_patient_shot" />
  <sprite name="rb_trait_field_stomach" />
  <sprite name="rb_trait_trailwise" />
  <sprite name="rb_trait_forager" />
  <sprite name="rb_trait_isolated_work" />
  <sprite name="rb_trait_armorer" />
  <sprite name="rb_trait_precision_maintenance" />
  <sprite name="rb_trait_refined_palate" />
  <sprite name="rb_trait_efficient_prep" />
  <sprite name="rb_trait_food_snob" />
  <sprite name="rb_trait_green_thumb" />
  <sprite name="rb_trait_soil_sense" />
  <sprite name="rb_trait_field_butcher" />
  <sprite name="rb_trait_meat_cutter" />
  <sprite name="rb_trait_meat_centric_palate" />
  <sprite name="rb_trait_mixologist" />
  <sprite name="rb_trait_alcohol_tolerance" />
  <sprite name="rb_trait_social_host" />
  <sprite name="rb_trait_negotiator" />
  <sprite name="rb_trait_customer_service_face" />
  <sprite name="rb_trait_sedentary_career" />
  <sprite name="rb_trait_quick_study" />
  <sprite name="rb_trait_generalist" />
  <sprite name="rb_trait_salvage_eye" />
  <sprite name="rb_trait_pack_rat" />
  <sprite name="rb_trait_improvised_repair" />
  <sprite name="rb_trait_road_veteran" />
  <sprite name="rb_trait_roadside_repair" />
  <sprite name="rb_diet_unrestricted" />
  <sprite name="rb_diet_vegetarian" />
  <sprite name="rb_diet_vegan" />
  <sprite name="rb_diet_carnivore" />
  <sprite name="rb_condition_mood_excellent" />
  <sprite name="rb_condition_mood_good" />
  <sprite name="rb_condition_mood_low" />
  <sprite name="rb_condition_mood_miserable" />
  <sprite name="rb_condition_low_energy" />
  <sprite name="rb_condition_critical_energy" />
  <sprite name="rb_condition_thirsty" />
  <sprite name="rb_condition_dehydrated" />
  <sprite name="rb_condition_severe_dehydration" />
  <sprite name="rb_condition_hungry" />
  <sprite name="rb_condition_severe_malnutrition" />
  <sprite name="rb_condition_full" />
  <sprite name="rb_condition_stuffed_overfull" />
  <sprite name="rb_condition_indigestion" />
  <sprite name="rb_condition_nauseated" />
  <sprite name="rb_condition_digestive_illness" />
  <sprite name="rb_condition_reduced_health_capacity" />
  <sprite name="rb_condition_heat_stress" />
  <sprite name="rb_condition_cold_stress" />
  <sprite name="rb_condition_wet_stress" />
  <sprite name="rb_condition_trait_support_managed" />
  <sprite name="rb_condition_trait_support_unsatisfied" />
  <sprite name="rb_skill_spears" />
  <sprite name="rb_skill_clubs" />
  <sprite name="rb_skill_swords" />
  <sprite name="rb_skill_axes" />
  <sprite name="rb_skill_batons" />
  <sprite name="rb_skill_hammers" />
  <sprite name="rb_skill_knives" />
  <sprite name="rb_skill_scythes" />
  <sprite name="rb_skill_knuckles" />
  <sprite name="rb_skill_unarmed" />
  <sprite name="rb_skill_archery" />
  <sprite name="rb_skill_pistols" />
  <sprite name="rb_skill_revolvers" />
  <sprite name="rb_skill_heavy_handguns" />
  <sprite name="rb_skill_shotguns" />
  <sprite name="rb_skill_assault_rifles" />
  <sprite name="rb_skill_tactical_rifles" />
  <sprite name="rb_skill_long_range_rifles" />
  <sprite name="rb_skill_explosives" />
  <sprite name="rb_skill_deployable_turrets" />
  <sprite name="rb_skill_drone_operations" />
  <sprite name="rb_skill_mining" />
  <sprite name="rb_skill_logging" />
  <sprite name="rb_skill_salvage" />
  <sprite name="rb_skill_farming" />
  <sprite name="rb_skill_animal_processing" />
  <sprite name="rb_skill_tracking" />
  <sprite name="rb_skill_animal_handling" />
  <sprite name="rb_skill_mechanics" />
  <sprite name="rb_skill_medicine" />
  <sprite name="rb_skill_cooking" />
  <sprite name="rb_skill_maintenance" />
  <sprite name="rb_skill_construction" />
  <sprite name="rb_skill_electrical" />
  <sprite name="rb_skill_metalworking" />
  <sprite name="rb_skill_gunsmithing" />
  <sprite name="rb_skill_chemistry" />
  <sprite name="rb_skill_lockpicking" />
  <sprite name="rb_skill_stealth" />
  <sprite name="rb_skill_athletics" />
  <sprite name="rb_skill_armor_proficiency" />
  <sprite name="rb_skill_bartering" />
  <sprite name="rb_ui_knowledge" />
  <sprite name="rb_ui_weakness" />
  <sprite name="rb_ui_trait_points" />
  <sprite name="rb_skill_rifles_legacy" />
  <sprite name="rb_skill_handguns_legacy" />
  <sprite name="rb_skill_blunt_melee_legacy" />
  <sprite name="rb_skill_bladed_melee_legacy" />
  <sprite name="rb_skill_tailoring" />
  <sprite name="rb_bonus_efficient_movement" />
  <sprite name="rb_bonus_trauma_specialist" />
  <sprite name="rb_bonus_pharmacy_eye" />
  <sprite name="rb_bonus_reagent_recovery" />
  <sprite name="rb_bonus_bookworm" />
  <sprite name="rb_bonus_parts_salvager" />
  <sprite name="rb_bonus_power_saver" />
  <sprite name="rb_bonus_built_to_last" />
  <sprite name="rb_bonus_heat_treatment" />
  <sprite name="rb_bonus_nothing_disposable" />
  <sprite name="rb_bonus_engineered_reliability" />
  <sprite name="rb_bonus_ore_sense" />
  <sprite name="rb_bonus_professional_logging" />
  <sprite name="rb_bonus_fire_resistant" />
  <sprite name="rb_bonus_combat_momentum" />
  <sprite name="rb_bonus_patrol_car_familiarity" />
  <sprite name="rb_bonus_hunters_mark" />
  <sprite name="rb_bonus_calming_presence" />
  <sprite name="rb_bonus_gunsmith_master_restoration" />
  <sprite name="rb_bonus_professional_cooking" />
  <sprite name="rb_bonus_tailor_master_restoration" />
  <sprite name="rb_bonus_rapid_cultivation" />
  <sprite name="rb_bonus_whole_animal" />
  <sprite name="rb_bonus_master_mixologist" />
  <sprite name="rb_bonus_more_options" />
  <sprite name="rb_bonus_scholar_and_mentor" />
  <sprite name="rb_bonus_nothing_is_junk" />
  <sprite name="rb_trait_fast_reader" />
  <sprite name="rb_trait_slow_reader" />
  <sprite name="rb_skill_drink_preparation" />
  <sprite name="rb_skill_trading" />
  <sprite name="rb_skill_teaching" />
  <sprite name="rb_skill_rage" />
  <sprite name="rb_skill_black_magic" />

  <sprite name="rb_hud_card_round" />
  <sprite name="rb_hud_card_outline" />
  <sprite name="rb_minimap_frame" />
  <sprite name="rb_trait_easily_rattled" />
  <sprite name="rb_trait_fear_dark" />
  <sprite name="rb_condition_stress" />
</sprites>